/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
  --black: #0d0d0d;
  --gray: #1f1f1f;
  --white: #ffffff;
  --gold: #daa520;
}

/* BASE */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--black);
  color: var(--white);
  line-height: 1.6;
  font-size: 16px;
}

p {
  font-weight: 400;
  color: #cccccc;
  margin-bottom: 1rem;
}

a {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */
.header {
  background: var(--gray);
  padding: 20px 0;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 150px;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.nav a:hover {
  color: var(--gold);
}

/* HERO */
.hero {
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 30px;
  color: #ccc;
}

/* BOTÃO */
.btn {
  display: inline-block;
  background: var(--gold);
  color: var(--black);
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
}

/* SERVIÇOS */
.services {
  background: var(--gray);
  padding: 80px 0;
}

.services h2 {
  text-align: center;
  margin-bottom: 50px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-card {
  background: linear;
  padding: 30px;
  border-radius: 8px;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.service-card h3 {
  margin-bottom: 10px;
  color: var(--gold);
}

/* SOBRE */
.about {
  padding: 80px 0;
  text-align: center;
}

.about p {
  max-width: 700px;
  margin: 0 auto;
  color: #ccc;
}

/* CONTATO */
.contact {
  background: var(--gray);
  padding: 80px 0;
  text-align: center;
}

/* FOOTER */
.footer {
  background: #000;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #777;
}

/* MENU MOBILE */
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    z-index: 1000;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%; 
    max-width: 150px;
    height: 100vh;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px 30px;
    transition: right 0.2s ease;
    z-index: 999;  
  }
  .nav.active {
    right: 0;    
  }
  .nav a {
    margin: 15px 0;
    font-size: 1.1rem;
  }
}
/* ANIMAÇÃO SCROLL */
.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

section {
  padding: 80px 0;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--gold);
  color: var(--black);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.7rem;
  cursor: pointer;
  display: none;
  z-index: 999;
}

#backToTop:hover {
  opacity: 0.9;
}